<!-- <div fxLayout.gt="row "> -->
<!-- <div fxFlex="20">

</div>
<div fxFlex="60"> -->


<div fxLayout="column center wrap" style="width : 800px">
    <div fxFLex style="background-image:url('../assets/welcomeImage.jpeg');">
        <img src="../assets/welcomeImage.jpeg">
    </div>
    <div fxFLex>

        <div fxLayout="column">
            <div fxFlex>
                <h2>Agreements and Contracts (Transactional and Non-transactional)</h2>
            </div>
            <div fxFlex>
                <p>
                    Our team has extensive expertise in money recovery disputes through litigation, and arbitration. We regularly represent money
                    lenders, including NBFCs, in recovery proceedings against corporate as well as individual borrowers.
                    We conduct title searches, vetting of documents for loan, drafting of various agreement for banking and
                    non-banking financial institutes. We also regularly advise our clients on corporate bankruptcy, recapitalization,
                    debt restructuring, parallel policy and other restructuring compliance related issues. We also negotiate
                    and draft all finance and lease related matters, provide restructuring and securitization schemes, and
                    offer assistance in liquidation, insolvency and bankruptcy. Reddy & Reddy also advises on foreign investment
                    policies and compliances, but also on investment schemes abroad by Indian companies and wealthy individuals.

                </p>
            </div>
        </div>
    </div>
    <div fxFLex>
        <div fxLayout="column">
            <div fxFlex>
                <h2>Antitrust and Competition Laws</h2>
            </div>
            <div fxFlex>
                <p>
                    ur team comprises experienced and resourceful advocates and lawyers who advise and represent our clients in all dispute resolution
                    forums. We have previously represented our clients in arbitral proceedings involving complex commercial
                    disputes on various subject matters including insurance law,consumer law, government construction contracts,
                    contractual breach etc. We also have experience in litigation in support of arbitral proceedings,including
                    application for interim relief, judicial appointment of arbitrator and challenge of award.
                </p>
            </div>
        </div>

    </div>
    <div fxFLex>
        <div fxLayout="column">
            <div fxFlex>
                <h2>Banking & Finance
                </h2>
            </div>
            <div fxFlex>
                <p>
                    Our team has extensive expertise in money recovery disputes through litigation, and arbitration. We regularly represent money
                    lenders, including NBFCs, in recovery proceedings against corporate as well as individual borrowers.
                    We conduct title searches, vetting of documents for loan, drafting of various agreement for banking and
                    non-banking financial institutes. We also regularly advise our clients on corporate bankruptcy, recapitalization,
                    debt restructuring, parallel policy and other restructuring compliance related issues. We also negotiate
                    and draft all finance and lease related matters, provide restructuring and securitization schemes, and
                    offer assistance in liquidation, insolvency and bankruptcy. Reddy & Reddy also advises on foreign investment
                    policies and compliances, but also on investment schemes abroad by Indian companies and wealthy individuals.
                </p>
            </div>
        </div>
    </div>
    <div fxFLex>
        <div fxLayout="column">
            <div fxFlex>
                <h2>Compliance, Bribery & Anti-Corruption</h2>
            </div>

            <div fxFlex></div>
        </div>

    </div>
    <div fxFLex>
        <div fxLayout="column">
            <div fxFlex>
                <h2>Corporate Commercial Advisory</h2>
            </div>
            <div fxFlex>
                <p>
                    Our team has extensive expertise in money recovery disputes through litigation, and arbitration. We regularly represent money
                    lenders, including NBFCs, in recovery proceedings against corporate as well as individual borrowers.
                    We conduct title searches, vetting of documents for loan, drafting of various agreement for banking and
                    non-banking financial institutes. We also regularly advise our clients on corporate bankruptcy, recapitalization,
                    debt restructuring, parallel policy and other restructuring compliance related issues. We also negotiate
                    and draft all finance and lease related matters, provide restructuring and securitization schemes, and
                    offer assistance in liquidation, insolvency and bankruptcy. Reddy & Reddy also advises on foreign investment
                    policies and compliances, but also on investment schemes abroad by Indian companies and wealthy individuals.
                </p>


            </div>
        </div>

    </div>

    <div fxFLex>
        <div fxLayout="column">
            <div fxFlex>
                <h2>Cross-Border Transactions</h2>
            </div>
            <div fxFlex>
                <p>

                    Our team has extensive expertise in money recovery disputes through litigation, and arbitration. We regularly represent money
                    lenders, including NBFCs, in recovery proceedings against corporate as well as individual borrowers.
                    We conduct title searches, vetting of documents for loan, drafting of various agreement for banking and
                    non-banking financial institutes. We also regularly advise our clients on corporate bankruptcy, recapitalization,
                    debt restructuring, parallel policy and other restructuring compliance related issues. We also negotiate
                    and draft all finance and lease related matters, provide restructuring and securitization schemes, and
                    offer assistance in liquidation, insolvency and bankruptcy. Reddy & Reddy also advises on foreign investment
                    policies and compliances, but also on investment schemes abroad by Indian companies and wealthy individuals.
                </p>


            </div>
        </div>

    </div>


    <div fxFLex>
        <div fxLayout="column">
            <div fxFlex>
                <h2>Employment</h2>
            </div>
            <div fxFlex>
                <p>
                    Reddy & Reddy holds vast experience in labor law and regularly represent employers as well employees in labor disputes in
                    the appropriate judicial forums. We regularly advise our clients on internal employee policies and employee
                    benefit schemes. We draft internal policies, employee handbooks, sexual harassment at work place policies
                    in compliance with laws and regulations and companies’ byelaws. We also draft various agreements including
                    employment agreements, appointment letters, NDAs, bond agreements etc. Reddy & Reddy also advises and
                    assists its corporate clients on any issues involving its employees, including termination of employment
                    contracts, absconding employees and other related issues. Reddy & Reddy has vast experience in labor
                    law compliances, from ESI to PF. We also advise and counsel our corporate clients on sexual harassment
                    compliances and set up of ICC Committees for our clients. We conduct internal trainings for employees
                    as well as ICC Committees members. Our woman Advocates are members of several such committees and have
                    hands on experience in sexual harrassment laws and regulations.
                </p>

            </div>
        </div>
    </div>

    <div fxFLex>
        <div fxLayout="column">
            <div fxFlex>
                <h2>Environment</h2>

            </div>
            <div fxFlex>

                Reddy & Reddy offers legal compliance and due diligence services in the field of environmental and other regulatory laws.
                We ensure that our corporate clients are in compliance with all environmental, safety, health, sanitory and
                phytosanitory legal requirements across sectors. Our team keeps a close check of the fast moving legal landscape
                in environmental and regulatory law. We also represent our clients in matters related to environmental hazards,
                and other environment and health related disputes, and we obtain the required licenses and government clearances
                and licenses. We regularly represented corporate clients, including MNCs, in proceedings before before the
                National Green Tribunal. We also advise and represent NGOs and individual environtmentalists on issues relating
                to pollution, environmental hazards etc.

            </div>
        </div>



    </div>















</div>
<!-- </div> -->
<!-- <div fxFlex="20">

</div>
</div> -->