.example-container {
    display:  ;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .header-toolbar {
    position: fixed;
    z-index: 2;
    }
  agm-map {
  height: 300px;
  width: 600px;
}