
<div class="example-container" fxLayout="column center wrap">
        <div fxLayout="row space-around ">
                <div fxFLex="50%">
                        <div fxLayout="column">
                                <div fxFlex>
                                        <img src="../../assets/image1.jpg">
                                </div>
                                <div fxFlex>
                                        <label> Alan Joe</label>
                                </div>
                              
                                <div fxFLex>
                                        <label> Address: 35/7 Baker Street, Suxxex, London</label>
                                </div>
                                <div fxFLex>
                                        <label> Phoe number: 9028845489 </label>
                                </div>
                        </div>
                </div>
                <mat-divider></mat-divider>
                <div  fxFLex="50%" >
                        
                        <div><app-form></app-form></div>
                        
                </div>
        </div>


</div>