<mat-toolbar color="accent" class="header-toolbar">
        <mat-toolbar-row>
          <span>ABC LAWYERS</span>
          <span class="example-spacer"></span>
         <a routerLink=""><button mat-button >Practise Areas</button></a>
         
         <a routerLink="About Us"><button mat-button>About Us</button></a>
          
          <mat-icon class="example-icon">verified_user</mat-icon>
          
        </mat-toolbar-row> 
        
      
      </mat-toolbar>
<div class="example-container" fxLayout="column center wrap">
        <div fxLayout="row space-around ">
                <div fxFLex="50%">
                        <div fxLayout="column">
                                <div fxFlex>
                                        <img src="../../assets/image1.jpg">
                                </div>
                                <div fxFlex>
                                        <label> Alan Joe</label>
                                </div>
                                <div fxFLex>
                                        <label> Address: 35/7 Baker Street, Suxxex, London</label>
                                </div>
                                <div fxFLex>
                                        <label> Phoe number: 9028845489 </label>
                                        
                                </div>
                        </div>
                </div>
                
                <div  fxFLex="50%" >
                        
                        <div><app-form></app-form></div>
                        <agm-map [latitude]="lat" [longitude]="lng">
                                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                              </agm-map>
                </div>
        </div>
        

</div>
