<div class="example-container" fxLayout="column center wrap">
        <div fxLayout="row space-around ">
                <div fxFLex="50%">
                        <div fxLayout="column">
                                <div fxFlex>
                                        <img src="../../assets/image1.jpg">
                                </div>
                                <div fxFlex>
                                        <label> Sarfraz Shaikh</label>
                                </div>
                                <div fxFLex>
                                        <span> Address: 35/7 sayyed chawl, Duttawadi, Akurdi, Pune </span>
                                </div>
                                <div fxFLex>
                                        <span> Phoe number: 9028605879 </span>
                                </div>
                        </div>
                </div>
                <mat-divider></mat-divider>
                <div  fxFLex="50%" >
                        <div style="margin-left: 10px">

                        
                        <mat-form-field>
                                <input matInput placeholder="FirstName">
                        </mat-form-field>
                        <mat-form-field>
                                <input matInput placeholder="LastName">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                                <input matInput placeholder="Mail-Id">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                                <textarea matInput placeholder="Your Concern"></textarea>
                        </mat-form-field>
                        <br>
                        <button class="button-row" color="primary" mat-raised-button>Submit</button>
                </div>
                </div>
        </div>


</div>